@use "global" as *;

.c-section-heading {

}

.c-section-heading__title {
  font-size: rem(24);
  font-weight: $medium;
  line-height: 1.42;
  letter-spacing: 0.04em;
  position: relative;

  @include mq('md') {
    font-size: rem(34);
    line-height: 1;
  }
}

.c-section-heading__line {
  margin-top: rem(9);
  height: 2px;
  width: 30px;
  background-color: #8E8EAE;

  @include mq('md') {
    margin-top: rem(20);
  }
}

.c-section-heading__line--center {
  margin-left: auto;
  margin-right: auto;
}