@use "global" as *;

.p-set-content {
  @include mq('md') {
    border: 1px solid #8E8EAE;
    padding: 0  rem(26) rem(30) rem(30);
  }
}

.p-set-content__titleWrap {
  text-align: center;
  padding: 0 rem(17);

  @include mq('md') {
    padding: 0;
    position: relative;
    margin-top: rem(-10);
  }
}

.p-set-content__tertiary-title {
  display: flex;
  align-items: center;
  font-size: rem(18);
  font-weight: $bold;
  line-height: 1;
  color: #8E8EAE;

  @include mq('md') {
    display: inline-block;
    background-color: #fff;
  }
}

.p-set-content__tertiary-title::before,
.p-set-content__tertiary-title::after {
  content:"";
  flex-grow: 1;
  height: rem(1);
  background-color: #8E8EAE;
}

.p-set-content__tertiary-title::before {
  margin-right: rem(10);
}

.p-set-content__tertiary-title::after {
  margin-left: rem(10);
}

.set-content__wrapper {
  @include mq('md') {
    display: flex;
    padding-top: rem(20);
  }
}

.p-set-content__img {
  margin-top: rem(20);
  padding: 0 rem(17);

  @include mq('md') {
    padding: 0;
    margin-top: 0;
  }
}

.p-set-content__items {
  margin-top: rem(22);

  @include mq('md') {
    margin-top: 0;
    margin-left: rem(30.5);
    padding-top: rem(11);
  }
}

.p-set-content__item {
  font-size: rem(15);
  font-weight: $medium;
  line-height: 1;
  padding: 0 rem(17);

  @include mq('md') {
    padding: 0;
  }
}

.p-set-content__item + .p-set-content__item {
  margin-top: rem(20);
}

.p-set-content__testWrap {
  text-align: center;
  margin-top: rem(28);
}

.p-set-content__text {
  display: inline-block;
  font-size: rem(18);
  font-weight: $medium;
  line-height: 1;
  color: #000;
  position: relative;
  z-index: 1;
  white-space: nowrap;
}

.p-set-content__text::after {
  content:"";
  height: rem(10);
  width: 100%;
  background-color: #E6E6FA;
  position: absolute;
  bottom: rem(-5);
  left: 0;
  z-index: -1;
}